@page "/"
@using BlazorApp1.Services
@using DTOs
@using Entities
@inject IPostService postService
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<h1>Hello!</h1>

<p>Welcome, check out some new posts below.</p>

@if (posts != null)
{
    foreach (var post in posts)
    {
        <div class="post">
            <h2>
                <a href="#" @onclick="() => NavigateToPost(post.Id)">@post.Title</a>
            </h2>
            <small>Posted on @post.Date by User @post.UserId</small>
        </div>
    }
}

@code {
    public List<PostDto>? posts;

    protected override async Task OnInitializedAsync()
    {
        posts = await postService.GetPostsAsync() as List<PostDto>;
    }

    private void NavigateToPost(int postId)
    {
        NavigationManager.NavigateTo($"/post/{postId}");
    }
}