@page "/publish-post"
@using System.Net
@using BlazorApp1.Services
@using DTOs
@using Entities
@inject IPostService postService
@inject IJSRuntime JSRuntime
@attribute [StreamRendering]

<PageTitle>Publish Post</PageTitle>

<h1>Publish a post</h1>

<div>
    <label>Title</label>
    <input @bind="title" placeholder="Enter title" />
</div>

<div>
    <label>Content</label>
    <input @bind="content" placeholder="Enter content" />
</div>

<div>
    <button class="btn btn-primary" @onclick="publishPost">Add</button>
</div>

@code 
{
    private string title;
    private string content;

    private async Task publishPost()
    {
        try
        {
            var post = new CreatePostDto()
            {
                Title = title,
                Content = content,
                UserId = 1
            };

            await postService.AddPostAsync(post);

            Console.WriteLine("Post added successfully!");
                
            title = string.Empty;
            content = string.Empty;
                
            await JSRuntime.InvokeVoidAsync("alert", "Post added successfully!");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Exception occurred: {ex.Message}");
        }
    }
}